<div class="header-section">
    <div class="div-block">
        <div class="heading">We explain blockchain</div>
        <div class="sub-heading">Smart Contracts + dApps + Consulting</div>
    </div>
    <div class="case-study-banner-div">
        <a href="https://knownorigin.io/" target="_blank"
           class="case-study-banner knownorigin w-inline-block">
            <img src="/images/ko.jpeg" width="500" alt="" class="">
        </a>
        <a href="https://www.brewdog.com/uk" target="_blank" class="case-study-banner brewdog w-inline-block">
            <img src="/images/BD_Logo_Full_Smooth_White.png" width="110"
                 srcset="/images/BD_Logo_Full_Smooth_White-p-500.png 500w, /images/BD_Logo_Full_Smooth_White-p-800.png 800w, /images/BD_Logo_Full_Smooth_White.png 1492w"
                 sizes="(max-width: 479px) 16vw, 110px" alt="" class="image-9">
        </a>
        <a href="http://www.blockcities.co"
           target="_blank"
           class="case-study-banner blockcities w-inline-block">
            <img src="/images/logoname.png" width="175"
                 srcset="/images/logoname-p-500.png 500w, /images/logoname-p-800.png 800w, /images/logoname.png 911w"
                 sizes="(max-width: 479px) 37vw, 175px" alt="" class="image-7">
        </a>
        <a href="https://cryptokaiju.io/"
           target="_blank"
           class="case-study-banner cryptokaiju w-inline-block">
            <img src="/images/logo-x80.png" alt="" class="image-2">
        </a>
        <a href="/usecases/7-days-on-planet-nifty-football"
           class="case-study-banner niftyfootball w-inline-block">
            <img src="/images/Group-2.1.svg" width="150" alt="" class="image-4">
        </a>
        <a href="https://www.cudoventures.com/"
           target="_blank"
           class="case-study-banner gold w-inline-block">
            <img src="/images/cudo-logo.svg" width="385" alt="" class="image-8">
        </a>
    </div>
</div>
