<div class="cta-section" id="start-a-project-form" data-scroll-time="0">
    <div class="section-title">Join the decentralised movement</div>
    <div class="mt-5 contact-form">
        <form action="https://formspree.io/mwkperaj"
              method="POST" class="form">
            <label>
                <span class="form-label">Name</span>
                <div class="mt-1">
                    <input class="form-control"
                           type="text"
                           placeholder="Alan Turing"
                           name="contactName">
                </div>
            </label>
            <label class="mt-4">
                <span class="form-label">Email address</span>
                <div class="mt-1">
                    <input class="form-control"
                           type="text"
                           placeholder="you@email.com"
                           name="contactEmail">
                </div>
            </label>
            <label class="mt-4">
                <span class="form-label">Project Brief</span>
                <div class="mt-1">
                        <textarea class="form-control"
                                  name="projectBrief"
                                  placeholder="What are you working on? How can we help?"
                                  rows="5"></textarea>
                </div>
            </label>
            <button type="submit" class="main-button w-button">Submit</button>
        </form>
    </div>
</div>

<div class="section color no-padding-vertical">
    <div class="wrapper text-white">
        <div class="footer-2">
            <div class="footer-left"><a href="#" class="footer-brand w-nav-brand"><img
                    src="/images/BlockR_black_logo.png" width="125"
                    srcset="/images/BlockR_black_logo-p-500.png 500w, images/BlockR_black_logo-p-800.png 800w, images/BlockR_black_logo-p-1080.png 1080w, images/BlockR_black_logo.png 1440w"
                    sizes="125px" alt="" class="image-10"></a></div>
            <div class="footer-nav"><a href="mailto:human@blockrocket.tech?subject=Blockchain%20Project"
                                       class="link footer">human@blockrocket.tech</a></div>
            <div class="footer-social"><a href="https://www.linkedin.com/company/blockrockettech/" target="_blank"
                                          class="footer-social-link w-inline-block"><img src="/images/61109.png"
                                                                                         width="15" alt=""
                                                                                         class="image-6"></a><a
                    href="https://twitter.com/blockrockettech" target="_blank"
                    class="footer-social-link w-inline-block"><img src="/images/23931.png" width="15" alt=""></a><a
                    href="https://medium.com/blockrocket" target="_blank"
                    class="footer-social-link w-inline-block"><img src="/images/medium-1.svg" width="15" alt=""></a>
            </div>
            <div class="footer-bottom">
                <div class="footer-bottom-left" style="display:block;">
                    <div class="text-block" style="margin-bottom: 0.75em;"><a href="/privacy-policy">Privacy Policy</a></div>
                    <div class="text-block">BlockRocket Limited (company no. 11229039)</div>
                </div>
                <div class="footer-bottom-right"></div>
            </div>
        </div>
    </div>
</div>

<div class="hidden" id="cookie-banner">
    <div>
         <span>
                This site uses cookies to provide you with a great user experience. By using it, you accept our use of cookies.
         </span>
        <span id="consent-cookies">
                Close
         </span>
    </div>
</div>
