<div class="nav-bar-div og">
    <div class="nav-bar">
        <a href="/index.html" class="link-block w-inline-block w--current">
            <img src="/images/BlockR_black_logo.png"
                 srcset="/images/BlockR_black_logo-p-500.png 500w, /images/BlockR_black_logo-p-800.png 800w, /images/BlockR_black_logo-p-1080.png 1080w, /images/BlockR_black_logo.png 1440w"
                 sizes="(max-width: 479px) 48vw, (max-width: 767px) 23vw, 120px" alt="" class="image">
        </a>
<!--        <a href="https://medium.com/blockrocket" target="_blank" class="link">articles</a>-->
        <a href="/blog" class="link">articles</a>
        <a href="start-a-project.html" class="main-button w-button">start a project</a>
    </div>
</div>
<div data-w-id="899949fa-97d6-356b-fd4b-0c58dede6ca6" class="nav-bar-div light-grey">
    <div class="nav-bar">
        <a href="index.html" class="w-inline-block w--current">
            <img src="/images/BlockR_black_logo.png"
                 srcset="/images/BlockR_black_logo-p-500.png 500w, /images/BlockR_black_logo-p-800.png 800w, /images/BlockR_black_logo-p-1080.png 1080w, /images/BlockR_black_logo.png 1440w"
                 sizes="100vw" alt=""
                 class="image">
        </a>
        <a href="start-a-project.html" class="main-button w-button">start a project</a>
    </div>
</div>
