<div class="services-section-2">
    <div class="section-title">Services</div>
    <div class="services-flex">
        <div class="services-div"><img src="/images/Group.svg" width="100" alt="" class="service-illustration">
            <div class="service-name">Blockchain Consultancy</div>
            <div class="service-description">Product Delivery &amp; Strategy<br><br>Can you leverage decentralised
                technology to grow your business?
            </div>
        </div>
        <div class="services-div"><img src="/images/Group_4.svg" width="100" alt="" class="service-illustration">
            <div class="service-name">Full-Stack Engineering</div>
            <div class="service-description">From Proof of Concept to Production<br><br>Solutions come in all shapes
                and sizes, we work with you to build systems<br></div>
        </div>
        <div class="services-div"><img src="/images/Group_2.svg" width="100" alt="" class="service-illustration">
            <div class="service-name">Smart Contracts</div>
            <div class="service-description">Design, Implementation, Test and Auditing<br><br>Bespoke contracts using
                standards such as ERC721 and ERC20
            </div>
        </div>
        <div class="services-div"><img src="/images/Group_3.svg" width="100" alt="" class="service-illustration">
            <div class="service-name">Training &amp; Education</div>
            <div class="service-description">What are decentralised technologies?<br><br>We help all via community
                speaking, workshops, and articles
            </div>
        </div>
    </div>
</div>
