<div class="twitter-section">
    <div class="section-title">Team</div>
    <div class="team-flex">
        <div class="team-member-div"><img src="/images/James.jpg" width="100" alt="" class="service-icon">
            <div class="team-member-name">James Morgan</div>
            <div class="service-description">Co-founder</div>
            <a href="https://www.linkedin.com/in/jamesemorgan/" target="_blank" class="w-inline-block"><img
                    src="/images/61109.png" alt="" class="image-5"></a>
        </div>

        <div class="team-member-div">
            <img src="/images/AndyNoBorder.png" width="100"
                 srcset="/images/AndyNoBorder-p-500.png 500w, /images/AndyNoBorder-p-800.png 800w, /images/AndyNoBorder.png 860w"
                 sizes="100px" alt="" class="service-icon">
            <div class="team-member-name">Andy Gray</div>
            <div class="service-description">Co-founder</div>
            <a href="https://www.linkedin.com/in/andrewmgray/" target="_blank" class="w-inline-block"><img
                    src="/images/61109.png" alt="" class="image-5">
            </a>
        </div>
        <div class="team-member-div">
            <img src="/images/Vincent.png" width="100" alt="" class="service-icon">
            <div class="team-member-name">Vincent Almedia</div>
            <div class="service-description">Blockchain Engineer</div>
            <a href="https://www.linkedin.com/in/vincentmda/" target="_blank" class="w-inline-block"><img
                    src="/images/61109.png" alt="" class="image-5">
            </a>
        </div>
        <div class="team-member-div">
            <img src="/images/CoFounder_DM_05.png" width="100" alt="" class="service-icon">
            <div class="team-member-name">David Moore</div>
            <div class="service-description">Web3 UX specialist</div>
            <a href="https://www.linkedin.com/in/david-moore-2b7342182/" target="_blank" class="w-inline-block"><img
                    src="/images/61109.png" alt="" class="image-5">
            </a>
        </div>
        <div class="team-member-div">
            <img src="/images/Oliver_C-1.png" width="100" alt="" class="service-icon">
            <div class="team-member-name">Oliver Carding</div>
            <div class="service-description">Marketing &amp; Community</div>
            <a href="https://www.linkedin.com/in/olivercarding-marketing-man/" target="_blank"
               class="w-inline-block"><img src="/images/61109.png" alt="" class="image-5">
            </a>
        </div>
        <div class="team-member-div">
            <img src="/images/JimCollins.jpeg" width="100" alt="" class="service-icon">
            <div class="team-member-name"><strong>Jim Collins</strong></div>
            <div class="service-description">DevOps &amp; Payments</div>
            <a href="https://www.linkedin.com/in/jimcollinscork/" target="_blank" class="w-inline-block"><img
                    src="/images/61109.png" alt="" class="image-5">
            </a>
        </div>
    </div>
</div>
