<!DOCTYPE html>
<!--  Last Published: Thu Oct 10 2019 09:36:02 GMT+0000 (UTC)  -->
<html data-wf-page="5d25f1760574ee17ca760ca2" data-wf-site="5d25f1760574eec910760ca1">
<link rel="canonical" href="https://www.blockrocket.tech"/>

{{ partial "_head.html" . }}

<body>

{{ partial "_navbar.html" . }}

<!-- begin main content -->

{{ partial "_case_study_main_sections.html" . }}

<div class="alliance-logos">
    <div class="section-title">In good company</div>
    <div class="sub-heading _2">Actively participating in blockchain communities</div>
    <div class="logo-flex">
        <div class="logo-div">
            <a href="https://www.buidlnetwork.net/" target="_blank">
                <img src="images/consensys_CMYK.png" width="200"
                     srcset="images/consensys_CMYK-p-500.png 500w, images/consensys_CMYK-p-800.png 800w, images/consensys_CMYK-p-1080.png 1080w, images/consensys_CMYK-p-1600.png 1600w, images/consensys_CMYK-p-2000.png 2000w, images/consensys_CMYK-p-2600.png 2600w, images/consensys_CMYK-p-3200.png 3200w, images/consensys_CMYK.png 4902w"
                     sizes="(max-width: 479px) 67vw, (max-width: 767px) 30vw, (max-width: 991px) 21vw, 200px"
                     alt="Consensys">
            </a>
        </div>
        <div class="logo-div">
            <a href="http://blockchainmanchester.co.uk" target="_blank">
                <img src="images/Circle_logoBM-1-02.png" width="120"
                     srcset="images/Circle_logoBM-1-02-p-500.png 500w, images/Circle_logoBM-1-02-p-800.png 800w, images/Circle_logoBM-1-02-p-1080.png 1080w, images/Circle_logoBM-1-02.png 1139w"
                     sizes="(max-width: 479px) 55vw, (max-width: 767px) 16vw, 120px" alt="Blockchain Manchester"
                     class="image-11">
            </a>
        </div>
        <div class="logo-div">
            <a href="https://www.metacartel.org/" target="_blank">
                <img src="images/meta-cartel.svg" alt="" width="120"
                     sizes="(max-width: 479px) 55vw, (max-width: 767px) 16vw, 120px" alt="MetaCartel DAO"
                     class="image-11">
            </a>
        </div>
        <div class="logo-div">
            <a href="https://molochdao.com/" target="_blank">
                <img src="images/moloch-dao.svg" alt="" width="120"
                     sizes="(max-width: 479px) 55vw, (max-width: 767px) 16vw, 120px" alt="Moloch DAO"
                     class="image-11">
            </a>
        </div>
    </div>
    <div class="logo-flex">
        <div class="logo-div">
            <a href="https://nonfungiblealliance.org/" target="_blank">
                <img src="images/nfa.svg" width="250" sizes="(max-width: 479px) 55vw, (max-width: 767px) 16vw, 120px"
                     alt="Non-fungible Alliance"
                     class="image-11">
            </a>
        </div>
        <div class="logo-div">
            <a href="https://www.manchesterdigital.com/member/blockrocket" target="_blank">
                <img src="images/mcr-digitial-logo-full.svg" width="125"
                     sizes="(max-width: 479px) 55vw, (max-width: 767px) 16vw, 120px" alt="Northern Blockchain Group"
                     class="image-11">
            </a>
        </div>
        <div class="logo-div">
            <a href="https://northernblockchain.co.uk" target="_blank">
                <img src="images/northern_blockchain_group_logo_transparent.png" width="150"
                     sizes="(max-width: 479px) 55vw, (max-width: 767px) 16vw, 120px" alt="Northern Blockchain Group"
                     class="image-11">
            </a>
        </div>
    </div>
    <div class="services-flex"></div>
</div>

{{ partial "_services_section.html" . }}

<div class="core-tech-section">
    <div class="core-tech-div">
        <div class="core-tech-title">✨ Core Technologies ✨</div>
        <div class="core-tech-text">Ethereum</div>
        <div class="core-tech-text">Smart Contracts</div>
        <div class="core-tech-text">xDAI</div>
        <div class="core-tech-text">POA</div>
        <div class="core-tech-text">Web3</div>
        <div class="core-tech-text">ERC20</div>
        <div class="core-tech-text">ERC721</div>
        <div class="core-tech-text">ERC1155</div>
        <div class="core-tech-text">ERC900</div>
        <div class="core-tech-text">Staking</div>
        <div class="core-tech-text">State Channels</div>
        <div class="core-tech-text">DAOs</div>
        <div class="core-tech-text">CRYPTOGRAPHY</div>
        <div class="core-tech-text">IPFS</div>
        <div class="core-tech-text">PGP</div>
        <!--        <div class="core-tech-text">P2P messaging</div>-->
        <!--        <div class="core-tech-text">AWS</div>-->
        <!--        <div class="core-tech-text">Google Cloud</div>-->
        <div class="core-tech-text">javascript</div>
        <div class="core-tech-text">node.js</div>
        <div class="core-tech-text">Vue.js</div>
        <div class="core-tech-text">Nuxt.js</div>
        <div class="core-tech-text">java</div>
        <div class="core-tech-text">python</div>
        <div class="core-tech-text">solidity</div>
        <div class="core-tech-text">Truffle</div>
        <div class="core-tech-text">ETHERS.JS</div>
        <div class="core-tech-text">OST</div>
        <div class="core-tech-text">BITCOIN</div>
        <div class="core-tech-text">Stellar</div>
    </div>
</div>

{{ partial "_team_section.html" . }}

<div class="sub-heading">
    <a href="https://medium.com/blockrocket/blockrocket-2019-587c202ffb4a" target="_blank">
        BlockRocket - 2019 A Year in Review 🚀
    </a>
</div>

<!-- end main content -->

{{ partial "_footer.html" . }}

<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js"
        type="text/javascript"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
</script>
<script src="js/webflow.js" type="text/javascript"></script>
<!-- [if lte IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script>
<![endif] -->
</body>
</html>
