<!DOCTYPE html>
<!--  Last Published: Thu Oct 10 2019 09:36:02 GMT+0000 (UTC)  -->
<html data-wf-page="5d25f1760574ee17ca760ca2" data-wf-site="5d25f1760574eec910760ca1">

{{ partial "_head.html" . }}

<body>

{{ partial "_navbar.html" . }}

<!-- begin main content -->

{{ partial "_case_study_main_sections.html" . }}

<div class="alliance-logos">
    <div class="section-title">In good company</div>
    <div class="sub-heading _2">Actively participating in blockchain communities</div>
    <div class="logo-flex">
        <div class="logo-div">
            <img src="images/consensys_CMYK.png" width="200"
                 srcset="images/consensys_CMYK-p-500.png 500w, images/consensys_CMYK-p-800.png 800w, images/consensys_CMYK-p-1080.png 1080w, images/consensys_CMYK-p-1600.png 1600w, images/consensys_CMYK-p-2000.png 2000w, images/consensys_CMYK-p-2600.png 2600w, images/consensys_CMYK-p-3200.png 3200w, images/consensys_CMYK.png 4902w"
                 sizes="(max-width: 479px) 67vw, (max-width: 767px) 30vw, (max-width: 991px) 21vw, 200px"
                 alt="">
            <div class="text-block-2">BUIDL Network</div>
        </div>
        <div class="logo-div">
            <img src="images/Circle_logoBM-1-02.png" width="120"
                 srcset="images/Circle_logoBM-1-02-p-500.png 500w, images/Circle_logoBM-1-02-p-800.png 800w, images/Circle_logoBM-1-02-p-1080.png 1080w, images/Circle_logoBM-1-02.png 1139w"
                 sizes="(max-width: 479px) 55vw, (max-width: 767px) 16vw, 120px" alt=""
                 class="image-11">
        </div>
        <div class="logo-div">
            <img src="images/nfa.svg" alt="">
        </div>
    </div>
    <div class="services-flex"></div>
</div>

{{ partial "_services_section.html" . }}

<div class="core-tech-section">
    <div class="core-tech-div">
        <div class="core-tech-title">✨ Core Technologies ✨</div>
        <div class="core-tech-text">Ethereum</div>
        <div class="core-tech-text">Stellar</div>
        <div class="core-tech-text">Hyperledger</div>
        <div class="core-tech-text">Libra</div>
        <div class="core-tech-text">BITCOIN</div>
        <div class="core-tech-text">Web 3</div>
        <div class="core-tech-text">CRYPTOGRAPHY</div>
        <div class="core-tech-text">IPFS</div>
        <div class="core-tech-text">libp2p</div>
        <div class="core-tech-text">p2p message</div>
        <div class="core-tech-text">AWS</div>
        <div class="core-tech-text">Google Cloud</div>
        <div class="core-tech-text">javascript</div>
        <div class="core-tech-text">nodejs</div>
        <div class="core-tech-text">java</div>
        <div class="core-tech-text">python</div>
        <div class="core-tech-text">solidity</div>
        <div class="core-tech-text">vyper</div>
    </div>
</div>

{{ partial "_team_section.html" . }}

<div class="cta-section">
    <div class="section-title">Join the decentralised movement</div>
        <div class="mt-5 contact-form">
            <form action="https://formspree.io/mwkperaj"
                  method="POST" class="form" id="start-a-project-form">
                <label>
                    <span class="form-label">Name</span>
                    <div class="mt-1">
                        <input class="form-control" type="text" name="contactName">
                    </div>
                </label>
                <label class="mt-4">
                    <span class="form-label">Email address</span>
                    <div class="mt-1">
                        <input class="form-control" type="text" name="contactEmail">
                    </div>
                </label>
                <label class="mt-4">
                    <span class="form-label">Project brief</span>
                    <div class="mt-1">
                        <textarea class="form-control" name="projectBrief"></textarea>
                    </div>
                </label>
                <button type="submit" class="main-button w-button">Submit</button>
            </form>
        </div>
</div>

<!-- end main content -->

{{ partial "_footer.html" . }}

<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js"
        type="text/javascript"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
</script>
<script src="js/webflow.js" type="text/javascript"></script>
<!-- [if lte IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script>
<![endif] -->
</body>
</html>
